body{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin:auto
}
.whole{
    margin: auto;
    padding: 10px;
}
#contents{
    padding: 10px;
}

#title{
    font-size: xx-large;
    font-weight: 400;
}
h3{
    padding-left: 20px;
}